.mainBlock{
    width: 600px;
    margin: 0 auto;
    background-color: lightgray;
    border: 3px double rgb(128, 1, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    font-size: 1.3em;
}
.mainBlock label{
    margin: 0px 30px;
}
.mainBlock button{
    background-color: rgb(255, 136, 0);
    color: whitesmoke;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    padding: 5px;
    align-self: flex-end;
}
.chooseParam label{
    margin: 0px;
}